.ticketBox {
  background-color: rgb(197, 196, 196);
  min-width: 400px;
  /* height: 200px; */
  padding: 10px;
  margin: auto;
  border-radius: 10px;
}

.flyInfo {
  background: rgb(182, 182, 182);
  border-radius: 10px;
}

.ticketInfo {
  background: rgb(138, 138, 138);
  border-radius: 10px;
}
